/* main */
.visual_wrap{
    min-height:rem(400);position:relative;
    &.type2{
        min-height:0;margin-top:rem(50);
        .visual_title_row{display:none;}
    }
    > *:not(.visual_bg){z-index:2;position:relative;}
}
.visual_bg{display:block;width:100%;height:rem(400);background:url("../images/visual_bg.jpg") no-repeat 0 0/cover;position:absolute;top:0;left:0;}
.visual_title_row{padding:rem(110) rem(30) rem(70);text-align: center;}
.visual_title{font-size:4rem(6);color:#fff;line-height:1;font-family: 'NanumSquare';font-weight:800;}
.visual_wallet_row{max-width:rem(1280);margin:0 auto;padding:0 rem(30);}
.visual_wallet_item{margin-right:rem(15);border-radius:rem(27);background:url("../images/bg_wallet.png") no-repeat 50% 50%/cover;
    box-shadow: rem(14) 0 0 0 #2e3047; position:relative;
    &:before{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;border-radius:rem(27); box-shadow: inset 0 0 rem(12) 0 rgba(255, 255, 255, 0.17);}
}
.wallet_stoke{
    display:block;width:calc(100% - rem(24));height:calc(100% - rem(24));position:absolute;top:rem(12);left:rem(12);border-radius:rem(27);box-sizing: border-box;overflow:hidden;
    &:after{display:block;content:'';width:calc(100% + rem(2));height:calc(100% + rem(2));position:absolute;top:rem(-1);left:rem(-1);border-radius:rem(28);box-sizing: border-box;border:rem(2) dashed rgba(255,255,255,.3);}
}
.visual_wallet_handle{display:block;position:absolute;top:50%;right:rem(-18);background:url("../images/wallet_handle.png") no-repeat 0 0/100% auto;width:rem(52);height:rem(48);transform: translateY(-50%);z-index:5;}
.visual_wallet_inner{padding:rem(40) rem(45);position:relative;z-index:2;display:flex;justify-content: space-between;min-height:rem(220);box-sizing: border-box;gap:rem(20);}
.wallet_profile_main_cols{}
.wallet_profile_item{display:flex;align-items: center;gap:rem(10);}
.wallet_profile_img{width:rem(50);height:rem(50);background:#fff;border-radius: 100%;position:relative;overflow:hidden;
    > img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;}
}
.wallet_profile_spec{color:#ffffff;padding-bottom:rem(5);}
.wallet_profile_spec_main{font-size:rem(25);font-weight:500;}
.wallet_profile_spec_sub{font-size:rem(16);}
.wallet_profile_sub_cols{min-width:300;position:relative;}
.wallet_tail_table{
    width:100%;color:#fff;font-size:rem(16);
    th,td{padding:rem(5);}
    th{width:rem(1);}
    td{text-align: left;}
}
.wallet_tail_key{display:block;white-space: nowrap;border:rem(1) solid #fff;border:rem(1) solid rgba(255,255,255,.6);border-radius:rem(100);padding:rem(6) rem(10);text-align: center;min-width:rem(110);box-sizing: border-box;}
.wallet_tail_value{border:rem(1) solid transparent;}
.wallet_profile_para{
    font-size:rem(14);display:flex;gap:rem(7);color:#ffffff; margin-top:rem(18);
}
.ico_wallet_profile_para{display:block;content:'';width:rem(20);height:rem(20);position:relative;top:rem(1);
}

.btn_more{
    display:inline-block;color:#fff;font-size:rem(12);line-height:1;padding-right:rem(13);position:absolute;top:rem(-10);right:rem(-5);
    &:after{display:block;content:'';width:rem(7);height:rem(7);border-right:rem(1) solid #fff;border-top:rem(1) solid #fff;transform: rotate(45deg);position:absolute;top:rem(2);right:rem(2);}
}

.content_wrap{
    margin:rem(45) auto rem(78); max-width:rem(1280);padding:0 rem(30);
}
.content_item{
    
    &:last-of-type{}
    &.getboard_box{border:rem(1) solid #dadada;border-radius:rem(18);margin-bottom:rem(40);padding:rem(25);position:relative;}
    &.getpay_box{margin-bottom:rem(56);display:flex;gap:rem(30);
        &.type2{}
    }
    &.btn_box{}
}
.getboard_box_title_row{display:flex;gap:rem(10);align-items:center;}
.getboard_box_title_ico{display:block;width:rem(38);height:rem(38);background:#8e9ebe;border-radius:100%;position:relative;overflow:hidden;}
.getboard_box_title{font-size:rem(22);color:#333333;font-weight:700;line-height:1;}
.getboard_box_content_row{margin-top:rem(15);}
.getboard_box_content_list{
    display:flex;flex-wrap:wrap;gap:rem(10);
    > li{
        flex:1;min-width:0;
        &:last-of-type{}
    }
}
.getboard_box_content{border:rem(1) solid #e6e6e6;border-radius:rem(8);display:flex;justify-content: space-between;align-items:center;gap:rem(10);padding:rem(20);
    // &:before{display:block;content:'';width:rem(25);height:rem(25);background:url("../images/ico_docu.png") no-repeat 0 0/100% auto;flex:0 0 rem(25);}
}
.ico_getboard_box_content{display:block;width:rem(25);height:rem(25);flex:0 0 rem(25);position:relative;}
.getboard_box_content_main{flex:1;min-width:0;word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;position:relative;top:rem(-1);font-size:rem(17);color:#333333;}
.getboard_box_content_else{flex:0;white-space: nowrap;display:flex;justify-content: flex-end;position:relative;font-size:rem(14);color:#6d6c6c;}
.window .getboard_box_content_else{top:rem(-1);}
.btn_ico_more{
    display:flex;align-items:center;justify-content:center;width:rem(30);height:rem(30);position:absolute;top:rem(30);right:rem(25);font-size:0;line-height:0;
    /* &:before,
    &:after{display:block;content:'';width:rem(10);height:rem(2);background:#000;position:absolute;top:50%;left:50%;}
    &:before{transform:translate(-50%,-50%);}
    &:after{transform:translate(-50%,-50%) rotate(90deg);} */
    img{max-width:rem(10)}
}

.getpay_box_cols{
     flex:1;min-width:0;
    &.type2{
        
        .getpay_box_item{background:#49a6fc;}
        .getpay_box_title_row{}

        .btn_getpay_submit{
            border-color:#49a6fc;
            &:after{border-color:#49a6fc;}
        }
        .getpay_submit_inner{}
        .ico_btn_getpay{background-color:#49a6fc;}
        .getpay_submit_text{color:#49a6fc;}
    }
}
.getpay_box_item{background:#638bff;border-radius:rem(17);}
.getpay_box_title_row{box-sizing:border-box;border-bottom:rem(1) solid rgba(255,255,255,.3);display:flex;gap:rem(20);justify-content: space-between;align-items: center;padding:rem(25) rem(40) rem(25) rem(25);}
.getpay_title_main{
    display:flex; align-items: center;gap:rem(13);white-space:nowrap;
    // &:before{display:block;content:'';}
}
.getpay_title_ico{
    width:rem(44);height:rem(44);flex:0 0 rem(44);border:rem(3) solid #fff;border-radius:100%;
}
.getpay_title_text,
.getpay_title_sub{color:#fff;line-height:1;font-weight:700;position:relative;}
.window{
    .getpay_title_text,
    .getpay_title_sub{top:rem(-1);}
}
.getpay_title_text{font-size:rem(26);}
.getpay_title_sub{font-size:rem(23);}
.getpay_box_content_row{padding:rem(5) rem(25) rem(25);color:#fff;}
.getpay_detail_list{
    > li{
        padding:rem(20) rem(13); background:url("../images/bg_image_dash.png") repeat-x 0 100%/auto rem(1);
        &:last-of-type{}
    }
}
.getpay_detail_item{
    display:flex;justify-content: space-between;align-items: center;gap:rem(20);
}
.getpay_detail_title{
    font-size:rem(18); font-weight:500; display:flex;align-items: center; gap:rem(10);
}
.ico_getpay{
    display:block;width:rem(36);height:rem(36);flex:0 0 rem(36);/* background:url("../images/ico_main_tail.png") no-repeat 0 0/100% auto; */flex:0 0 rem(36); position:relative;
    /* &.ico_change{background-position:0 0;}
    &.ico_present{background-position:0 50%;}
    &.ico_charge{background-position:0 100%;} */
}
.getpay_detail_title_text{}
.getpay_detail_else{
    text-align: right; white-space: nowrap;
}
.getpay_detail_main,
.getpay_detail_sub{font-weight:500;}
.getpay_detail_main{font-size:rem(20);}
.getpay_detail_sub{font-size:rem(16);}

.getpay_else_item{}
.btn_getpay_submit{
    border:rem(1) solid #638bff; border-radius:rem(10); font-size:rem(20);color:#5c84f9;font-weight:700;margin-top:rem(25);padding:rem(14) rem(35) rem(14);line-height:1; position:relative; display:block;
    &:after{display:block;content:'';width:rem(11);height:rem(11);border-right:rem(2) solid #638bff;border-top:rem(2) solid #638bff; transform: rotate(45deg) translateY(-50%);position:absolute;top:50%;right:rem(25);margin-top:rem(-3);}
}
.window .btn_getpay_submit{padding:rem(14) rem(35) rem(15);}
.getpay_submit_inner{display:flex;justify-content:center;align-items:center; gap:rem(6);}
.ico_btn_getpay{display:flex;align-items:center;justify-content:center;width:rem(30);height:rem(30);background:#638bff;border-radius:100%;
    img{vertical-align: middle;max-width:100%;}
}
.getpay_submit_text{}

.getpay_box_btn_row{
    text-align: center;padding:rem(20) rem(20) 0;
    .btn_control_box{}
}

.btn_request_box{background:#f4f6f8;border:rem(1) solid #e4e9ee;border-radius:rem(10);display:block;text-align: center;padding:rem(18);}
.btn_request_inner{
    display:flex;justify-content:center;align-items:center;gap:rem(8);
    .ico_request{display:block;width:rem(30);height:rem(30);border-radius:100%;background:#4a586e;flex:0 0 rem(30);
        img{vertical-align: middle;}
    }
}
.btn_request_text{font-size:rem(20);color:#424454;line-height:1;font-weight:700;}

.content_copy_wrap{background:#fcfcfc;border-top:rem(1) solid #ebebeb;border-bottom:rem(1) solid #ebebeb;margin-bottom:rem(147);
    &.box_type{
        border:0;margin:rem(60) 0 0 0;background:none;

        .content_copy_pix{background:#fcfcfc;padding:rem(40);border:1px solid #ebebeb;border-radius:rem(14);}
    }
}
.content_copy_pix{max-width:rem(1280);box-sizing: border-box;padding:rem(55) rem(30);margin:0 auto;display:flex;justify-content: space-between;align-items: center;gap:rem(20);}
.content_copy_group{}
.content_copy_main{font-size:rem(22);color:#323232;font-weight:700;}
.content_copy_sub{margin-top:rem(8);font-size:rem(15);color:#5f5f5f;}
.content_copy_else{}
.btn_linkbox{display:inline-block;color:#fff;font-size:rem(17);font-weight:700;padding:rem(12) rem(30);background:#3f4858;border-radius:rem(100);white-space: nowrap;}
.window .btn_linkbox{padding-bottom:rem(13);}


@media (max-width:1279px){
    .visual_title_row{padding:rem(55) rem(15) rem(20);}
}
@media (max-width:1024px){
    
    .visual_bg{height:calc(100% - rem(30))}
    .visual_wrap{min-height:0;
        &.type2{margin-top:rem(25);}
    }
    .visual_title{font-size:rem(24);}


    .visual_wallet_row{padding:0 rem(15);}
    .visual_wallet_item{margin-right:rem(15);border-radius:rem(12);
        box-shadow: rem(15) 0 0 0 #2e3047; position:relative;
        &:before{border-radius:rem(12); box-shadow: inset 0 0 rem(7) 0 rgba(255, 255, 255, 0.17);}
    }
    .wallet_stoke{
        border-radius:rem(12);
        &:after{border-radius:rem(13);}
    }
    .visual_wallet_handle{}
    .visual_wallet_inner{padding:rem(30) rem(30);min-height:rem(110);gap:rem(10);display:block;}
    .wallet_profile_img{width:rem(40);height:rem(40);}
    .wallet_profile_spec{color:#ffffff;padding-bottom:rem(5);}
    
    .wallet_profile_spec_main{font-size:rem(18);}
    .wallet_profile_spec_sub{font-size:rem(13);}
    
    .wallet_profile_main_cols{padding-right:rem(50);}
    .wallet_profile_item{}
    
    .wallet_profile_sub_cols{min-width:0;margin-top:rem(20);position:static;}
    .wallet_tail_table{
        font-size:rem(14);
        th,td{padding:rem(5);}
        th{width:rem(1);}
        td{text-align: left;}
    }
    .wallet_tail_key{padding:rem(6) rem(15);min-width:rem(55);}
    .wallet_tail_value{border:rem(1) solid transparent;}
    .wallet_profile_para{
        margin-top:rem(10);
        /* &:before{top:rem(1);} */
    }
    .btn_more{
        top:rem(36);right:rem(26);
    }

    .content_wrap{
        margin:rem(35) auto rem(60);padding:0 rem(15);
    }
    .content_item{
        &.getboard_box{border-radius:rem(10);margin-bottom:rem(20);padding:rem(15);}
        &.getpay_box{margin-bottom:rem(25);gap:rem(15);display:block;}
        &.btn_box{}
    }
    .getboard_box_title_row{
        &:before{width:rem(30);height:rem(30);}
    }
    .getboard_box_title{font-size:rem(16);}
    .getboard_box_content_row{}
    .getboard_box_content_list{display:block;
        > li{
            margin-bottom:rem(10);
            &:last-of-type{margin-bottom:0;}
        }
    }
    .getboard_box_content{display:flex;justify-content: space-between;align-items:center;gap:rem(5);padding:rem(15);
        &:before{width:rem(20);height:rem(20);flex:0 0 rem(20);}
    }
    .getboard_box_content_main{top:0;font-size:rem(14);}
    .window .getboard_box_content_main{top:rem(-1)}
    .getboard_box_content_else{flex:0;white-space: nowrap;display:flex;justify-content: flex-end;position:relative;font-size:rem(14);color:#6d6c6c;}
    .window .getboard_box_content_else{top:rem(-1);}
    .btn_ico_more{
        width:rem(30);height:rem(30);top:rem(15);right:rem(15);
    }

    .getpay_box_cols{
        margin-bottom:rem(20);
        &:last-of-type{margin-bottom:0;}
    }
    .getpay_box_item{border-radius:rem(10);}
    .getpay_box_title_row{box-sizing:border-box;min-height:0 !important;border-bottom:rem(1) solid rgba(255,255,255,.3);display:flex;gap:rem(20);justify-content: space-between;align-items: center;padding:rem(15) rem(20);}
    .getpay_title_main{
        gap:rem(10);white-space:normal;
        &:before{width:rem(25);height:rem(25);flex:0 0 rem(25);border-width:rem(2);}
    }
    .getpay_title_text,
    .getpay_title_sub{}
    .window{
        .getpay_title_text,
        .getpay_title_sub{top:0;}
    }
    .getpay_title_text{font-size:rem(18);}
    .getpay_title_sub{font-size:rem(14);}
    .getpay_box_content_row{padding:rem(5) rem(15) rem(15);}
    .getpay_detail_list{
        > li{
            padding:rem(10) rem(5); 
            &:last-of-type{}
        }
    }
    .getpay_detail_item{
        gap:rem(10);
    }
    .getpay_detail_title{
        font-size:rem(16);
    }
    .ico_getpay{
        width:rem(30);height:rem(30);flex:0 0 rem(30);
    }
    .getpay_detail_title_text{}
    .getpay_detail_else{
        text-align: right; white-space: nowrap;
    }
    .getpay_detail_main{font-size:rem(16);}
    .getpay_detail_sub{font-size:rem(13);}

    .btn_getpay_submit{
        font-size:rem(16);margin-top:rem(15);padding:rem(10) rem(30);
        &:after{width:rem(8);height:rem(8);right:rem(20);margin-top:rem(-2);}
    }
    .window .btn_getpay_submit{padding:rem(10) rem(30);}
    .getpay_submit_text{}

    .btn_request_box{padding:rem(12);}
    .btn_request_inner{}
    .btn_request_text{font-size:rem(16);}

    .content_copy_wrap{margin-bottom:rem(70);
        &.box_type{
            margin:rem(30) 0 0 0;
            .content_copy_pix{padding:rem(20);border-radius:rem(8);}
        }
    }
    .content_copy_pix{padding:rem(20) rem(15);gap:rem(10);display:block;}
    .content_copy_main{font-size:rem(16);}
    .content_copy_sub{font-size:rem(13);}
    .content_copy_else{margin-top:rem(20);text-align: center;}
    .btn_linkbox{font-size:rem(14);padding:rem(10) rem(20);}
    .window .btn_linkbox{padding-bottom:rem(10);}
}

@media (max-width:359px){
    .wallet_profile_spec_main{font-size:rem(15);}
    .btn_more{top:rem(35);}
}